<!-- <section layout="row">
<md-content layout="row" flex="66" layout-wrap>
    <md-card ng-repeat="d in $ctrl.dates" ng-class="$ctrl.getColor($index)" class="md-whiteframe-z2" flex flex-sm="40" flex-xs="100">
        <md-card-content>
            <h2>{{d.k | date:'dd-MMM-yyyy'}}</h2>
            <p layout="column">
                <md-button class="md-primary md-raised" 
                ng-repeat="i in d.v"
                ng-click="$ctrl.showAdvanced(i)"
                ng-disabled="!i.active"
                flex>
                    {{i.date | date:'h:mma'}}
                </md-button>
            </p>
        </md-card-content>
        <md-card-footer></md-card-footer>
    </md-card>
    
</md-content>
<md-card class="md-whiteframe-z2" flex="33">
    <md-card-content>
        <h2>Booked Appointments</h2>
        <p layout="column" ng-repeat="a in $ctrl.appointments">
            {{a.name}} ({{a.phone}}) => {{a.date | date:'dd-MMM-yyyy @ h:mma'}}
        </p>
    </md-card-content>
    <md-card-footer></md-card-footer>
</md-card>
</section> -->

<!DOCTYPE html>
<html>

<head>
    <title>Findepto!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <style type="text/css">
    .row .row {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .row {
      margin-bottom: 20px;
    }
    .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */

      display: flex;
      align-items: center;
    }
    body {
        margin: 0;
        background: url("concrete_seamless.png") repeat;
    } 

    </style>

    <link rel="stylesheet" type="text/css" href="zabuto_calendar.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="zabuto_calendar.min.js"></script>

</head>


<body>
<div class="container">


      <div class="page-header text-center ">
        <h1 style="font-family:'Lobster';font-size:56px">Findepto</h1>
        <br>
        <p class="text-center lead">Agendar visita</p>
        <br>
      </div>

    
      <div class="row">
        <div class="col-xs-12">

            <div id="date-popover" class="popover top"
                 style="cursor: pointer; display: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                <div class="arrow"></div>
                <h3 class="popover-title" style="display: none;"></h3>

                <div id="date-popover-content" class="popover-content"></div>
            </div>

            <div id="my-calendar"></div>

            <script type="application/javascript">


                $(document).ready(function () {
                    $("#date-popover").popover({html: true, trigger: "manual"});
                    $("#date-popover").hide();
                    $("#date-popover").click(function (e) {
                        $(this).hide();
                    });

                    $("#my-calendar").zabuto_calendar({
                        action: function () {
                            return myDateFunction(this.id, false);
                        },
                        action_nav: function () {
                            return myNavFunction(this.id);
                        },
                              ajax: {
                                    url: "data_calendario.json",
                                    modal: false
                      }
                    });
                });

                function myDateFunction(id, fromModal) {
                    $("#date-popover").hide();
                    if (fromModal) {
                        $("#" + id + "_modal").modal("hide");
                    }
                    var date = $("#" + id).data("date");
                    var hasEvent = $("#" + id).data("hasEvent");
                    if (hasEvent && !fromModal) {
                        return false;
                    }
                    $("#date-popover-content").html('You clicked on date ' + date);
                    $("#date-popover").show();
                    return true;
                }

                function myNavFunction(id) {
                    $("#date-popover").hide();
                    var nav = $("#" + id).data("navigation");
                    var to = $("#" + id).data("to");
                    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
                }
            </script><br><br>
</div>
<div id="reservacion">
<div class="col-xs-6">

            <div class="form-group">
      <div class="input-group" id="turnos">
        <select class="selectpicker" data-style="btn-primary" title="Seleccione un turno">
            <option disabled>08:00</option>
            <option disabled>08:30</option>
            <option disabled>09:00</option>
            <option disabled>09:30</option>
                        <option disabled>10:00</option>
            <option>10:30</option>
                        <option>11:00</option>
            <option>11:30</option>
                        <option>12:00</option>
            <option disabled>12:30</option>
                        <option disabled>13:00</option>
            <option disabled>13:30</option>
                        <option disabled>14:00</option>
            <option>14:30</option>
                        <option>15:00</option>
            <option>15:30</option>
                        <option>16:00</option>
            <option disabled>16:30</option>
                        <option>17:00</option>
            <option>17:30</option>
                        <option>18:00</option>
            <option disabled>18:30</option>
            <option disabled>19:00</option>
            <option disabled>19:30</option>
            <option disabled>20:00</option>
            <option disabled>20:30</option>
          </select>
        </div>    
    </div>

    </div>

    <div class="col-xs-6">    <button id="searchProps" type="submit" class="btn btn-md btn-block btn-primary">Reservar!</button>
</div></div>

        </div>
    </div>

</div>
</body>

 <script type="text/javascript">
     $(document).ready(function () {

        $('#reservacion').hide();

        $(".day").click(function(){

          $('#reservacion').show();
        }); 
        $("#searchProps").click(function(){

          window.location.href = "gracias.html";
          return false;
        }); 
      }); 
  </script>

</html>
